Resources:
    AWSEBAutoScalingGroup:
        Metadata:
            AWS::CloudFormation::Authentication:
                S3Access:
                    type: S3
                    roleName: siphonexchange-s3-config
                    buckets: configuration-us-east
files:
    "/opt/python/ondeck/app/config.json":
        mode: "000755"
        owner: root
        group: root
        source: https://s3.amazonaws.com/configuration-us-east/siphonexchange-config.json
        authentication: S3Access
